<% @uploads.each do |upload| %>
  <div>
		<h2>
			<a href="/wiki/uploads/<%= upload['name'] %>"><%= upload["name"] %></a>

      <small style="font-size: 0.7em">
				<%= Date.parse(upload["uploaded_on"]).strftime("%D") %>
			</small>
    </h2>
    
    <p><%= upload["description"] %></p>
  </div>
<% end %>

<h3>
	<a href="/wiki/create">New post</a>
	<a href="/wiki/uploads/">Files</a>
	<a href="/wiki/uploads/upload">Upload File</a>
</h3>