<h2>Upload a file</h2>

<form action="/wiki/uploads/upload" method="post" enctype="multipart/form-data">
  <p>
    <b>File</b><br>
    <input type="file" name="file">
  </p>
  
  <p>
    <b>Alternative Name</b> (optional)<br>
    <input type="text" name="alternative_name">
  </p>
  
  <p>
    <b>Description</b> (optional)<br>
    <textarea name="description"></textarea>
  </p>
  
  <input type="submit" value="Submit">
</form>